 :root{
 -border-radius:2px;
 }
 @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

 
 body{
   background-color: white;
   height: 100%;
   margin-top: 250px;
 }

 #container{
    background-color: rgb(92, 255, 195);
    border: 1px solid black;
    height: 275px;
    width: 550px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;

 }

 #btn{
    margin: 50px auto;
    height: 50px;
    width: 150px;
    font-size: 22px;
    background-color: rgb(53, 52, 52);
    color: white;
    border: 2px solid black;
    border-radius: 5px;
 }

 #retourEcran{
   margin: 10px auto;
   color: black;
   font-size: 20px;
   background-color: white;
   height: 70px;
   text-align: center;
   width: 500px;
   border: 1px solid black;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px;
  border-radius: 5px;
 }

